<!doctype html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Acuse de declaración</title>
</head>

<body>
  <span id="declarationType">

  {% if tipoDeclaracion == 'AVISO' %}

    Declaración {{ tipoDeclaracion }}

  {% else %}

    Declaración 
    {{ tipoDeclaracion 
        | replace('MODIFICACION','MODIFICACIÓN') 
        | replace('CONCLUSION','CONCLUSIÓN') 
    }}

    {% if declaracionCompleta %}
      completa
    {% else %}
      simple
    {% endif %}

    {# --- Obtener mes desde string ISO --- #}
    {% if updatedAt %}
      {% set mes = updatedAt[5:7] %}
    {% endif %}

    {# --- Validación EXTEMPORÁNEA solo si NO es mayo --- #}
    {% if tipoDeclaracion == 'MODIFICACION' and mes != '05' %}
      EXTEMPORÁNEA
    {% endif %}

  {% endif %}

</span>



  {% if datosGenerales%}
  <!-- Situación patrimonial -->

  {% include "templates/publico/acuse.html" %}

  <!-- Situación patrimonial -->

  {% include "templates/publico/declaracion.html" %}

  {% endif %}

  <!-- Situación patrimonial -->
  <div class="situacion_patrimonial">
    {% include "templates/publico/situacion_patrimonial.html" %}
  </div>

  <!-- Intereses -->
  {% if declaracionCompleta %}
  <div class="intereses">
    {% include "templates/publico/intereses.html" %}
  </div>
  {% endif %}

</body>

</html>